// Element UI 覆盖主题样式



/* messageBox 消息弹框
-------------------------- */
.el-message-box {
  > .el-message-box__btns {
    position: relative;
    > .el-button--primary {
      position: absolute;
      right: 80px;
    }
  }
}



/* Row 栅格
-------------------------- */
.el-row {
  height: 100%;
  > .el-col { height: inherit; }
}

// 分块布局高度设定 10% ~ 90%
@for $i from 1 through 9 {
  .el-row > .el-col[height="#{$i}0%"] {
    height: calc(#{$i}0% - #{$padding / 2});
  }
}



/* Radio 单选框
-------------------------- */
.el-radio {
  // 禁用下标签颜色
  .el-radio__input.is-disabled + span.el-radio__label {
    color: $--disabled-color-base;
  }
}



/* Checkbox 多选框
-------------------------- */



/* Input 输入框
-------------------------- */
.el-input {
  // 后缀按钮居中
  .el-input-group__append {
    text-align: center;
  }
  // 禁用样式背景
  &.is-disabled .el-input__inner {
    background-color: $light-bg;
  }
}


/* InputNumber 计数器
-------------------------- */



/* Select 选择器
-------------------------- */
.el-select > .el-input {
  width: 100% !important;
}



/* Cascader 级联选择器
-------------------------- */



/* Switch 开关
-------------------------- */



/* Button 按钮
-------------------------- */
.el-button {
  // 减少按钮左右内边距
  &.el-button--mini { padding: 7px 10px; }
  // 树形控件下按钮
  @at-root .el-tree-node__content {
    .el-button {
      margin-left: 3px;
      padding: 3px;
      i { width: 1.2em; }
    }
  }
}



/* Slider 滑块
-------------------------- */



/* TimePicker 时间选择器
-------------------------- */



/* DatePicker 日期选择器
-------------------------- */



/* DateTimePicker 日期时间选择器
-------------------------- */



/* Upload 上传
-------------------------- */



/* ColorPicker 颜色选择器
-------------------------- */



/* Transfer 穿梭框
-------------------------- */



/* Form 表单
-------------------------- */
.el-form {

  // 宽度充满
  &.el-form--label-right {
    .el-date-editor, .el-select, .el-input-number { width: 100%; }
    .el-input-number.is-controls-right input { text-align: left; }
  }

  // 行内表单元素宽度
  &.el-form--inline {
    .el-input, .el-select, .el-date { width: 120px; }
  }

  .el-form-item {
    // 减少表单项的上下间隔
    margin-bottom: 10px;

    // 默认隐藏提示
    // .el-form-item__error { display: none; }
    .el-form-item__error { right: 0; left: auto; }

    // 悬浮验证提示
    // &:hover .el-form-item__error {
    //   $color: #303133;
    //   $bg: #f8f8f8;

    //   display: inline-block;
    //   margin-top: 4px;
    //   padding: 10px 17px;
    //   z-index: 3500;

    //   color: $color;
    //   background-color: $bg;
    //   border: 1px solid draken($bg, 30%);
    //   border-radius: 4px;
    //   box-shadow: 1px 1px 2px $--border-color-light;

    //   &::before {
    //     content: '';
    //     position: absolute;
    //     top: -10px;
    //     left: 10px;
    //     width: 0;
    //     height: 0;
    //     border: {
    //       width: 6px;
    //       style: solid;
    //       color: transparent transparent $bg transparent;
    //     }
    //   };
    // }
  }
}
.hover-error {
  .el-form-item {
    .el-form-item__error { display: none; }
    // 悬浮验证提示
    &:hover .el-form-item__error {
      $color: #303133;
      $bg: #f8f8f8;

      display: inline-block;
      margin-top: 4px;
      padding: 10px 17px;
      z-index: 3500;

      color: $color;
      background-color: $bg;
      border: 1px solid draken($bg, 30%);
      border-radius: 4px;
      box-shadow: 1px 1px 2px $--border-color-light;

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 10px;
        width: 0;
        height: 0;
        border: {
          width: 6px;
          style: solid;
          color: transparent transparent $bg transparent;
        }
      };
    }
  }
}



/* Table 表格
-------------------------- */
.el-table {

  $index: '2';  // 序号所在列

  width: 100%;  // 宽度自适应

  // 表格单元格尺寸
  td, th { padding: 1px 0; }

  // 行单击高亮颜色
  &.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
  .el-table__body tr.current-row>td,
  .el-table__body tr.hover-row.current-row>td,
  .el-table__body tr.hover-row.el-table__row--striped.current-row>td,
  .el-table__body tr.hover-row.el-table__row--striped>td,
  .el-table__body tr.hover-row>td,
  // 行悬浮高亮颜色
  &.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: lighten($color: $theme-bg, $amount: 50%);
  }

  // 序号列默认不换行, 以对 padding 的充分利用
  .el-table__header-wrapper, .el-table__body {
    .el-table_1_column_#{$index} div.cell {
      white-space: nowrap;
    }
  }

  // 标题行浅色背景区分
  .el-table__header th {
    background-color: $--background-color-base;
    border-color: $--border-color-light;
  }

  // 表格内图标按钮
  .el-table__row .el-button {
    padding: 3px 5px;
    // width: 20px;
    text-align: center;
    &:not(:first-child) { margin-left: 3px; }
  }

  // 自定义滚动条样式
  .el-table__body-wrapper {
    @include scrollbar();
    height: calc(100% - 28px);
  }

  // 清除指定列左右边框
  .el-table__body .no-border {
    border-width: 1px 0 !important;
    > .cell { padding: 0; }
  }

  // 设置弹框中表格最小高度
  // @at-root .el-dialog__body {
  //   .el-table { min-height: 300px; }
  // }

  // 在卡片元素中为表格的按钮与分页预留空间
  @at-root .el-card {
    $ops-height: 34px;                            // 操作按钮高度
    $pager-height: 26px;                          // 分页组件高度
    $default-height: $ops-height + $pager-height; // 默认预留按钮与分页空间

    @for $i from 1 through 3 {
      $fill: 'fill="#{$i}"';
      @if $i == 1 { $fill: "fill" }
      $default: $default-height + 35px * ($i - 1);
      &[#{$fill}] {
        .el-table[fill] { height: calc(100% - #{$default}); }
        &[no-pager] .el-table[fill] { height: calc(100% - #{$default - $pager-height}); } // 有按钮 无分页
        &[no-ops] .el-table[fill] { height: calc(100% - #{$default - $ops-height}); }     // 无按钮 有分页
        &[no-pager][no-ops] .el-table[fill] { height: calc(100%); }                // 无按钮 无分页
      }
    }
  }
}



/* Tag 标签
-------------------------- */
.el-tag {
  &.el-tag--grey {
    background-color: $--disabled-fill-base;
    border-color: $--disabled-color-base;
    color: $--disabled-color-base;
  }
}



/* Progress 进度条
-------------------------- */



/* Tree 树形控件
-------------------------- */
.el-tree {
  // 带图标节点与标签间距
  .el-tree__icon i { padding-right: 5px; color: $--color-info; }
}



/* Pagination 分页
-------------------------- */
.el-pagination {
  // 调整分页高度以适应页面剩余空间
  &.el-pagination--small {
    .el-pagination__sizes input {
      height: 22px;
      line-height: 22px;
    }
  }
  // 修复分页的下拉框收默认宽度影响问题
  .el-pagination__sizes .el-select { width: 100px; }

}


/* Badge 标记
-------------------------- */



/* NavMenu 导航菜单
-------------------------- */
.el-menu {
  // 图标定位调整
  i.fa {
    margin-right: 7px;
    width: 20px;
    text-align: center;
  }
  i.el-submenu__icon-arrow { right: 10px; }
  &.el-menu--horizontal>.el-menu-item {
    height: 40px !important;
    line-height: 40px !important;
  }
  // 侧栏收缩下悬浮菜单宽度设置
  @at-root .el-menu--collapse .el-menu .el-submenu, .el-menu--popup {
    min-width: $g-side-max-width;
  }
}


/* Tabs 标签页
-------------------------- */
.el-tabs {
  // 高度填充设置
  &[fill] {
    height: 100%;
    .el-tabs__content {
      height: calc(100% - 39px);
      .el-tab-pane {
        min-height: 100%;
        > div { height: 100%; }
      }
    }
  }

  &.el-tabs--border-card {
    border: none !important;
    .el-tabs__content { padding: 5px $padding; }
  }

  // 内容溢出出现滚动条
  .el-tabs__content { @include scrollbar(); };

  .el-tabs__header { margin: 0; }

  &.el-tabs--border-card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  }

  // 弹框中的标签页
  @at-root .el-dialog__body {
    > .el-tabs {
      margin-left: -10px;
      margin-right: -10px;
      height: 100%;
      > .el-tabs__header.is-top .el-tabs__nav-wrap.is-top { padding: 0 10px; }
      > .el-tabs__content {
        @include scrollbar();
        height: calc(100% - 39px);
        overflow: auto;
        .el-tab-pane { padding: 5px 10px; }
      }
    }
  }
}



/* Breadcrumb 面包屑
-------------------------- */
.el-breadcrumb { display: inline-block; }



/* Dropdown 下拉菜单
-------------------------- */
.el-dropdown-menu {
  &.el-popper .el-dropdown-menu__item > i { margin-right: 10px; }
}


/* Steps 步骤条
-------------------------- */



/* Dialog 对话框
-------------------------- */
.el-dialog {

  border: none;

  &[style="margin-top: 15vh; width: 80%;"] {
    margin-top: 7vh !important;
    .el-dialog__footer {
      padding: 0 $padding + 5px 5px !important;
    }
  }

  // 消除内边距
  &.pad-t-0 .el-dialog__body { padding-top: 0 !important; }
  &.pad-b-0 .el-dialog__body { padding-bottom: 0 !important; }
  &.pad-l-0 .el-dialog__body { padding-left: 0 !important; }
  &.pad-r-0 .el-dialog__body { padding-right: 0 !important; }
  &.is-fullscreen { margin: 0 auto auto !important; }

  // 设置默认内边距
  .el-dialog__header { padding: $padding; }
  .el-dialog__footer { padding: 5px $padding; }
  .el-dialog__body { padding: $padding; }

  hr { margin: 5px #{-$padding}; }

  // 标题栏
  .el-dialog__header {
    line-height: 0;
    color: #666;
    background-color: $card-header-bg;

    .el-dialog__title {
      font-size: 14px;
      line-height: 20px;
      color: inherit;
    }
    .el-dialog__headerbtn i {
      color: inherit;
      &:hover { color: #fff; }
      &.el-dialog__close:hover { color: $--color-danger; }
    }

    // 标题栏右侧功能按钮
    .el-dialog__headerbtn {
      position: absolute;
      top: $padding + 3px !important;
      font-size: $--alert-icon-size;

      &:nth-last-child(1) { right: $padding + 5px; }
      &:nth-last-child(2) { right: $padding + 30px; }
      &:nth-last-child(3) { right: $padding + 55px; }
      &:nth-last-child(4) { right: $padding + 80px; }
      &:nth-last-child(n + 5) { display: none; }

      i {
        color: $--color-info;
        &:hover { color: $--color-primary; }
      }
    }
    button, i { color: inherit; }
  }

  .el-dialog__footer { border-top: $--tab-border-line; }

  @at-root [roll] {
    .el-dialog { margin: 7vh auto !important; }
    .el-dialog__body {
      @include scrollbar();
      height: calc(86vh - 50px);
      overflow-y: auto;
    }
    &[footer] .el-dialog__body {
      height: calc(86vh - 50px - 39px);
    }
  }
}


/* Tooltip 文字提示
-------------------------- */



/* Popover 弹出框
-------------------------- */



/* Card 卡片
-------------------------- */
.el-card {
  height: 100%;
  border: none;
  border-radius: 0;

  // 表单项与分割线的间隔过大
  .el-card__header {
    padding: 5px 10px 0;
    // white-space:nowrap;
    .el-form-item { margin-bottom: 5px; }
  }

  .el-card__body {
    padding: 0 $padding 5px;
    height: inherit;
  }

  // 嵌套卡片边框隐藏
  .el-card .el-card {
    border: none;
    box-shadow: none;

    .el-card__header { padding: 0; }
    .el-card__body { padding: 10px 0 0; }
  }

  &[fill] > .el-card__body { height: calc(100% - 46px); }

  &.title-card {
    box-shadow: $shadow;

    .el-card__header {
      position: relative;
      padding: 10px 15px;
      color: $card-header-color;
      // background-color: $card-header-bg;
    }

    .el-card__title { line-height: 17px; }

    .el-card__headerbtn {
      $padding: 15px;
      position: absolute;
      top: 11px;
      cursor: pointer;

      &:nth-last-child(1) { right: $padding; }
      &:nth-last-child(2) { right: $padding + 19px; }
      &:nth-last-child(3) { right: $padding + 19px * 2; }
      &:nth-last-child(n + 4) { display: none; }

      i {
        padding-top: 2px;
        color: $--color-info;
        &:hover { color: $--color-primary; }
      }
    }
  }

  // 标签页中的卡片无边框
  @at-root .el-tab-pane {
    > .el-card {
      border: none;
      box-shadow: none;
      > .el-card__header, > .el-card__body {
        padding: 0;
      }
      > .el-card__header {
        border-bottom: none;
      }
    }
  }

  @at-root .el-dialog__body {
    > .el-card.title-card {
      overflow: visible !important;
      .el-card__header {
        margin: 5px -10px 0;
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .el-card.title-card {
      .el-card__header {
        background-color: $--background-color-base;
      }
      .el-card__body {
        padding: 5px 0 0;
      }
    }
  }
}



/* Carousel 走马灯
-------------------------- */



/* Collapse 折叠面板
-------------------------- */
