 body {
  font-size: 14px;
  text-rendering: optimizeLegibility;

  color: $body-color;
  background-color: $body-bg;

  > div#app { height: 100%; }
}



/* Layout 布局
 * @see layouts/Default.vue
-------------------------- */
.g-wrap {
  $padding: 10px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: $padding {
    top: $g-head-height + $padding;
    left: $g-side-width + $padding;
  };
  // 过渡动画
  > .g-head, > .g-side, > .g-main {
    transition: $--all-transition;
  }
  > .g-head, > .g-side {
    position: fixed;
    left: 0;
    z-index: 999;
  }
  > .g-head {
    top: 0;
    right: 0;
    height: $g-head-height;
    line-height: $g-head-height;
  }
  > .g-side {
    top: $g-head-height;
    bottom: 0;
    width: $g-side-width;
    height: 100%;
    overflow: hidden;
  }
  > .g-main { display: block; }
  // 侧栏 - 展开状态
  > .g-side.is-extend { width: $g-side-max-width; }
  > .g-main.is-extend { margin-left: $g-side-max-width - $g-side-width; }
}



/* header 顶栏
 * @see components/layout/Header/
-------------------------- */
header.g-head {
  $btn-drak-bg: darken($color: $g-head-brand-bg, $amount: 10%);
  $btn-light-bg: lighten($color: $g-head-brand-bg, $amount: 15%);

  padding: 0 $g-head-user-width 0 $g-side-max-width;
  color: $g-head-color;
  background-color: $g-head-bg;

  .btn {
    position: relative;
    width: $g-head-height / 2;
    height: $g-head-height / 2;
    line-height: $g-head-height / 2;
    color: $light-color;
    background-color: $light-bg;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: $btn-light-bg;
    }
    // 扩大按钮可点击区域
    &::before {
      content: '';
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
    }
    > i { font-size: 16px; }
  }
  .btn.u-collapse {
    position: absolute;
    top: $g-head-height / 4;
    right: -($g-head-height / 4);
    color: $btn-drak-bg;
    line-height: normal;
    background-color: $btn-light-bg;
    &:hover {
      background-color: $light-bg;
    }
  }

  .g-brand, .g-user {
    position: absolute;
    display: inline-block;
  }
  .g-brand {
    left: 0;
    width: $g-side-max-width;
    font-size: 16px;
    text-align: left;
    text-indent: 15px;
    color: $--color-white;
    background-color: $g-head-brand-bg;
  }
  .g-user {
    right: 0;
    padding-right: $padding;
  }
  .g-user .el-dropdown {
    $size: $g-head-height / 2;
    position: relative;
    padding-left: 35px;
    width: 130px;
    line-height: $size;
    color: $light-color;
    background-color: $light-bg;
    border-radius: $size;
    > .el-dropdown-link {
      padding-right: 10px;
      text-align: right;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: $size;
      height: $size;
      border-radius: 50%;
    }
  }

  .g-headc {
    display: inline-block;
    padding: {
      top: $g-head-height - $g-tags-height;
      left: $g-head-height / 4 + $padding;
      right: $padding;
    };
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
  }
}



/* tags 标签栏
 * @see components/layout/Header/components/TagsView
-------------------------- */
header .g-tags {
  $line: solid $--border-color-light;

  position: relative;
  padding-left: 90px;
  overflow: hidden;
  width: 100%;  // IE
  height: $g-tags-height;
  line-height: $g-tags-height;

  // 图标按钮
  > button {
    $size: $g-tags-height;
    position: absolute;
    top: 0;
    width: $size;
    line-height: $size;
    text-align: center;
    cursor: pointer;
    i { font-size: 16px; }
    &:hover i { color: $theme-bg; }
    &:nth-child(1) { left: 0; }
    &:nth-child(2) { left: $size; }
    &:nth-child(3) { left: $size * 2; }
    &.is-active { color: darken($color: $theme-bg, $amount: 10%); }
  }
}

header .g-tagsc {
  position: relative;
  width: 100%;
  height: inherit;
  overflow: hidden;
  border: none !important;

  ul.m-scoll {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    transition: left .5s cubic-bezier(0, 0, .2, 1);
  }

  li {
    position: relative;
    display: inline-block;
    color: $g-tags-default-color;
    padding: 0 $padding;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      background-color: $g-tags-bg;
      border-radius: .5em .5em 0 0;
      transform: scaleY(1.45) perspective(100px) rotateX(30deg);
      transform-origin: bottom;
    }
    &:hover {
      color: $theme-bg;
    }
    &.is-active {
      color: darken($color: $theme-bg, $amount: 10%);
      &::before { background-color: $g-tags-active-bg; }
    }
  }

  // 关闭标签
  li i {
    display: inline-block;
    margin-right: 2px;
    width: 10px;
    height: 10px;
    &:hover { color: $--color-danger; }
  }
}



/* sidebar 侧栏
 * @see components/layout/Sidebar.vue
-------------------------- */
aside.g-side {
  color: $g-side-color;
  background-color: $g-side-bg;

  overflow: hidden;

  > .u-collapse {
    display: block;

    font-family: 'Agency FB', 'Harlow Solid Italic', 'Blackadder ITC';
    font-size: 16px;
    height: $g-side-item-height;
    width: 100%;
    text-align: center;
    color: $--color-white;
    border-bottom: 1px solid lighten($dark-bg, 5%);
    i { font-size: 16; }
    cursor: pointer;
  }

  > .el-menu {
    padding-bottom: $g-head-height;
  }

  .el-menu {
    width: $g-side-max-width;  // 侧栏扩展宽度
    border-right: 0;
    &.el-menu--collapse {
      width: $g-side-width;  // 侧栏收缩宽度
    }
    .el-menu-item, .el-submenu__title {
      height: $g-side-item-height !important;
      line-height: $g-side-item-height !important;
    }
  }

  @at-root .el-menu--vertical[x-placement="right-start"] {
    width: $g-side-max-width !important;
    @extend .no-scrollbar;
    .el-menu {
      width: $g-side-max-width !important;
    }
    .el-menu-item, .el-submenu__title {
      height: $g-side-item-height !important;
      line-height: $g-side-item-height !important;
      &:hover { color: $g-side-active-color !important; }
    }
  }
}

aside.g-side > ul.el-menu {
  @extend .no-scrollbar;
}

// 侧栏层级菜单缩进
@mixin submenu-indent($n) {
  > .el-menu-item,
  > .el-submenu > .el-submenu__title {
    padding-left: $g-side-indent * $n !important;
  }
};
// 侧栏展开状态菜单缩进
aside.g-side > ul.el-menu {
  > li > ul {
    @include submenu-indent(2);
    > li > ul {
      @include submenu-indent(3);
      > li > ul {
        @include submenu-indent(4);
      }
    }
  }
}
// 侧栏收起状态悬浮菜单缩进
body > .el-menu--vertical[x-placement] {
  @include submenu-indent(1);
  > ul > li {
    @include submenu-indent(2);
    > ul > li {
      @include submenu-indent(3);
    }
  }
}

@mixin icon {
  width: 24px;
  text-align: center;
  font-size: 14px;
}
// 收起状态
.el-menu--vertical[x-placement] {
  ul { margin: 0; }
  .el-menu--popup {
    padding: 0 0 5px;
  }
  .el-menu-item, .el-submenu__title { padding: 0 10px !important; }
}
aside.g-side > ul.el-menu {
  > li.el-menu-item,
  > li > .el-submenu__title {
    padding: 0 15px !important;
  }
  i.far, i.fas, i.fab { @include icon; }
}
// 展开状态
aside.g-side.is-extend > ul.el-menu {
  > li.el-menu-item,
  > li > .el-submenu__title {
    padding: 0 10px !important;
    border-bottom: 1px solid lighten($g-side-bg, 5%);
  }
}

// 侧栏配色
aside.g-side > ul.el-menu,
div.el-menu--vertical {
  // default-color
  background-color: $g-side-bg;
  ul { background-color: $g-side-hover-bg; }
  li {
    color: $g-side-color;
    i { color: inherit; }
    i.far, i.fas, i.fab { @include icon; }
    .el-submenu__title {
      color: inherit;
      background-color: inherit;
    }
  }

  // hover-color
  > li:hover,
  .is-opened {
    color: $g-side-active-color;
    background-color: $g-side-hover-bg;
  }
  li:hover {
    color: $g-side-active-color;
    background-color: $g-side-hover-bg;
  }

  // active-color
  > li.is-active {
    color: $g-side-active-color;
    background-color: $g-side-active-bg;
    .el-submenu__title {
      border-bottom: none;
    }
  }
  .el-menu-item::before {
    content: '';
    transition: background .5s;
  }
  .el-menu-item.is-active {
    $size: $g-side-item-height - 10px;
    position: relative;
    color: darken($color: $theme-bg, $amount: 15%);
    z-index: 0;
    &::before {
      content: '';
      position: absolute;
      top: 6px;
      margin-left: -10px;
      width: 100%;
      height: $size;
      background-color: $body-bg;
      border-radius: ($size / 2) 0 0 ($size / 2);
      z-index: -1;
    }
  }
  ul li.is-active {
    color: $g-side-active-color;
    background-color: $g-side-hover-bg;
  }
}



/* main 内容区域
 * @see view/
-------------------------- */
main.g-main {
  height: 100%;
}
